/* Reset de estilos para eliminar márgenes y rellenos predeterminados */
body {
    background-image: url('imagenes/fondo\ para\ telefonos\ aguacate\ ilustrado.png');
    margin: 0;
    padding: 0;
    background-size: cover;
}

.navbar img{
  width: 100px;
  margin: 0px;
  z-index: 1;
  
  position: fixed;
}

#header li {
  margin-bottom: 30px;

 padding-left: 25px;
}

footer{
  padding-bottom: 30px;
  margin-top: 200px;
}

img-fluid{
  height: 0;
}

#footer{
  
  position: fixed;
  z-index: 1000;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.445);
  padding: 10px;
}

.bi {
  font-size: 1.5em;
  margin: 0; /* Ajusta el tamaño según tus preferencias */
}

.bg-body-tertiary {
  
    background-color:rgba(0, 0, 0, 0.459);
}

#botDePod{
  padding-left: 35px;
}

.h5 {
    background-color: rgba(0, 100, 0, 0.527);
    font-size: 20px;
    color: black;
}
.carousel-item {
    max-height: 700px;

}


#carouselExampleCaptions {
    max-width: 800px;
}

#articule {
    max-width: 800px;
}

.card {
    margin: 15px; /* Ajusta según tus necesidades */
    transition: transform 0.3s;
}


.card:hover {
  transform: scale(1.1); /* Cambia el tamaño de la tarjeta al hacer hover */
}

 /* Estilos para el contenido adicional */
 .additional-content {
    display: none;
}

/* FORMULARIO */

.contactBody{
  
    background-size: cover;
    background-attachment: fixed;
    height:700px;

}
.title{
    margin: 0 auto;
    width: 50%;
    text-align: center;
    padding-bottom: 10px;
    font-size: 42px;
    color: rgb(252, 252, 252);
  }

  #title-Tag-Line{
      font-size: 20px;
  }
/* This will center the form */
  .wrapper {
    width: 80%;
    height: 50%;
    margin: 5% auto 0 auto; 
  }

/* form animation starts */
  .form {
    background: #ebebeb;
    text-align: center; 
    box-shadow: 0px 0px 20px 5px #AAA; 
    border-radius: 10px;  
    width: 45%; 
    height: 400px;
    margin: 30px auto 0 auto;
    padding: 10px 10px;  
    animation: bounce 1.5s infinite;
  }

.name { 
    background-color: #e9b935;
    border-bottom: 5px solid rgb(178, 168, 23);
    color: white;
    width:300px;
  }

  ::-webkit-input-placeholder{
      color: white;
      font-size: 20px;
  }
  .name:hover{
    background-color: #00b445;
    border-bottom: 5px solid #048504;
    height:30px;
    width:400px;
  }

  .email {
    background-color: #00b445;  
    border-bottom: 5px solid #502789;
    height:50px;
    width:300px;
    
  }
  .email:hover{
    background-color: #7239C1;  
    border-bottom: 5px solid #502789;
    height:30px;
    width:380px;
   
  }
  .message {   
    background-color: rgb(230, 108, 15);
    border-bottom: 5px solid rgb(195, 35, 17);
    overflow: hidden;
    height: 100px;  
    width:300px;
  }

  .message:hover{
    background-color: #2DD7BB;
    border-bottom: 5px solid #2BB09A;
    height: 100px;
    width:370px;
  }

  .submit{
    border-radius:5px;
    padding:10px;
    background-color: #2DD7BB;  
    border: none;
    border-bottom: 5px solid #CB64B2; 
    transform: translateY(-120px); 

  }

  .submit:hover{
    border-bottom: 5px solid #CB64B2;  
    box-shadow: 15px 15px 15px 5px rgba(78, 72, 77, 0.219);
  }

  .entry{
    display: block;
    margin: 30px auto;
    padding: 10px;
    border-radius: 5px;
    border: none;
    transition: all 0.5s ease 0s;
    box-shadow: 0px 0px 25px 2px #AAA;  
  }

  /* Shadow to make it look like form is floating  */
  .shadow{
    box-shadow: 0px 0px 60px 5px #AAA;
    opacity: 0.5;
    border-radius: 100px;
    width: 50%; 
    margin: 50px auto 0 auto;
    padding: 0 20px;  
    animation: shadow 1.5s infinite;
  }
.submit{
    border-radius:5px;
    padding:10px;
    width:150px;
    color: white;
    background-color: #EE78D1;  
    border: none;
    border-bottom: 5px solid #CB64B2; 
    margin-top: 150px; 

  }



  @keyframes bounce{
    0%{
      
    }
    50%{
      transform: translate(0, 8px);
    }

  }
  @keyframes shadow{
    0%{
      
    }
    50%{
      opacity: 0.8;
      width: 50%;
    }
  }


@media (min-width: 1400px) {
.container {
    max-width: 1320px;
    display: flex;
    justify-content: space-around;

}

.form{
  width :30%;
}


.card {
    margin: 10px; /* Ajusta según tus necesidades */
}
}

@media (min-width: 992px) { 
.container { 
    max-width: 960px;
    
}



.card {
    margin: 10px; /* Ajusta según tus necesidades */
}

#articule {
    margin-bottom: 10px;

}

}
@media (min-width: 576px){ 
.container {
    max-width: 780px;
}

}

@media (max-width: 576px){
    #articule {
        max-width: 300px;
     
    }
    .form{
      width :75%;
    }
    
}     

@media (min-width: 768px){
.col-md-6 {
    margin-top: 35px;
    margin-bottom: 35px;
    
}

#botDePod{
  padding-left: 35px;
}
}

@media (min-width: 576px){
.col-sm-6 {
    margin-top: 35px;
    margin-bottom: 35px;
}

}

